<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<form method="POST">
  <textarea name="conversation" style="width: 80%; height: 20em;"><%= conversation %></textarea>
  <br>
  <input type="submit" value="Save">
</form>

</body>
</html>
